
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #333;
}

.login-input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #007bb5;
}

.error-message {
  margin-top: 15px;
  color: #ff0000;
}

.register-link,
.admin-link {
  margin-top: 15px;
  color: #666;
}

.register-link a,
.admin-link a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover,
.admin-link a:hover {
  text-decoration: underline;
}


.login-container.admin {
  
   margin-top: 10%;

  background-color: #f0f0f0;
}

.login-container.admin h2 {
  color: #555;
}

.login-container.admin .login-button {
  background-color: #e74c3c;
}

.login-container.admin .login-button:hover {
  background-color: #c0392b;
}
