/* In your CSS file (Register.css) */

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #333;
  }
  
  .register-input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .register-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-button:hover {
    background-color: #007bb5;
  }
  
  .error-message {
    margin-top: 15px;
    color: #ff0000;
  }
  
  .login-link,
  .admin-link {
    margin-top: 15px;
    color: #666;
  }
  
  .login-link a,
  .admin-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover,
  .admin-link a:hover {
    text-decoration: underline;
  }
  